
table, th, td {
    border: 1px solid black;
}

.text-border {
    color: black;
    border: 1px solid blue;
    background: green;
}

.text-border-2 {
    color: white;
    border: 1px solid black;
    background: red;
}
    

